{% extends "butler/templates/page.html" %}

{% block post_message %}
{% endblock post_message %}

{% block comments %}
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
      this.page.url = "{{ get_url(path=page.path) }}"
      this.page.identifier = "{{ page.slug }}"
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://shalzz.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
{% endblock comments %}


{% block contact %}
<div>
  Liked this article? Consider <a href="/donate">donating</a> to support my work.
</div>
<br/>
{% endblock contact %}
